/* ****************************************************************************
 * COLORS                                                                     *
 **************************************************************************** */

$white:             #fff;
$gray:              gray;
$black:             #333;


/* ****************************************************************************
 * DEFAULTS                                                                   *
 **************************************************************************** */

$background-color:  $white;
$heading-color:     $black;
$text-color:        $black;
$link-color:        $black;
$hover-color:       $black;
$active-color:      $black;
$visited-color:     $black;
$focus-color:       $black;
$highlight-color:   $gray;
$alt-text-color:    $gray;
$border-color:      $gray;
