/* ****************************************************************************
 * SUSY                                                                       *
 **************************************************************************** */

$mobile-width: 481px;
$tablet-width: 768px;
$desktop-width: 1025px;
$max-width: 1200px;

$total-columns: 12;
$column-width: 3.5em;
$gutter-width: 1.5em;
// $grid-padding: 1.5em;